<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap" rel="stylesheet">

</head>

<body>
    <style>
        body {
            font-family: 'Kanit', sans-serif;
            font-style: bold;
        }
    </style>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        Swal.fire({
            icon: 'success',
            title: 'ทำรายการลงทะเบียนเสร็จสิ้นแล้ว',
            text: 'ผู้ดูแลกำลังดำเนินทำการตรวจสอบข้อมูล',
            footer: 'กำลังทำการกลับไปหน้าเมนูเข้าสู่ระบบ',
            showConfirmButton: false,
            timer: 4500,
        });
        setTimeout(function() {
            window.history.go(-2);
        }, 4500)
    </script>
</body>

</html>