<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, monster admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, ">
    <meta name="description"
        content="Monster is powerful and clean admin dashboard template, inpired from Google's Material Design">
    <meta name="robots" content="noindex,nofollow">
    <title>PUBLIC HEALTH</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/monsteradmin/" />
    <!-- Favicon icon -->
    <link rel="icon" type="/image/png" sizes="16x16" href="/logo/logo2.png">
    <!-- Custom CSS -->
    <link href="/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="/assets/extra-libs/c3/c3.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/libs/apexcharts/dist/apexcharts.css">
    <!-- Custom CSS -->
    <link href="/dist/css/style.min.css" rel="stylesheet">
    <link href="/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
</head>


<style>
    #main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin1] ul {
    background: #01579b;
}

#main-wrapper[data-layout=vertical] .topbar .top-navbar .navbar-header[data-logobg=skin1] {
    background: #01579b;
}

body {
    overflow-x: hidden;
    margin: 0;
    color: #01579b;
    background: #f2f7f8;
    position: relative;
}

#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin1] ul,
#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin1] {
    background: #01579b; /* เปลี่ยนสีเขียวเข้ม */
}


body {
    
    color: #000000; /* เปลี่ยนสีข้อความเป็นเทาเข้ม */
}



.ps-container {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden !important;
    -ms-overflow-style: none;
}

a.link {
    color: #01579b;
}



.SidebarBackgrounds{
    color: #01579b;


}

#main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin1], #main-wrapper[data-layout=horizontal] .left-sidebar[data-sidebarbg=skin1] ul, #main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin1], #main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin1] ul {
    background: #01579b;
}




</style>
<body>

    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="tea lds-ripple" width="37" height="48" viewbox="0 0 37 48" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M27.0819 17H3.02508C1.91076 17 1.01376 17.9059 1.0485 19.0197C1.15761 22.5177 1.49703 29.7374 2.5 34C4.07125 40.6778 7.18553 44.8868 8.44856 46.3845C8.79051 46.79 9.29799 47 9.82843 47H20.0218C20.639 47 21.2193 46.7159 21.5659 46.2052C22.6765 44.5687 25.2312 40.4282 27.5 34C28.9757 29.8188 29.084 22.4043 29.0441 18.9156C29.0319 17.8436 28.1539 17 27.0819 17Z"
                stroke="#009efb" stroke-width="2"></path>
            <path
                d="M29 23.5C29 23.5 34.5 20.5 35.5 25.4999C36.0986 28.4926 34.2033 31.5383 32 32.8713C29.4555 34.4108 28 34 28 34"
                stroke="#009efb" stroke-width="2"></path>
            <path id="teabag" fill="#009efb" fill-rule="evenodd" clip-rule="evenodd"
                d="M16 25V17H14V25H12C10.3431 25 9 26.3431 9 28V34C9 35.6569 10.3431 37 12 37H18C19.6569 37 21 35.6569 21 34V28C21 26.3431 19.6569 25 18 25H16ZM11 28C11 27.4477 11.4477 27 12 27H18C18.5523 27 19 27.4477 19 28V34C19 34.5523 18.5523 35 18 35H12C11.4477 35 11 34.5523 11 34V28Z">
            </path>
            <path id="steamL" d="M17 1C17 1 17 4.5 14 6.5C11 8.5 11 12 11 12" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" stroke="#009efb"></path>
            <path id="steamR" d="M21 6C21 6 21 8.22727 19 9.5C17 10.7727 17 13 17 13" stroke="#009efb" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="/indexusers">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                            <!-- Dark Logo icon -->
                            <img class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text logo-icon">
                            <!-- dark Logo text -->
                            <h2 alt="homepage" style="width:100%;height: 19px;" class="dark-logo">PUBLIC HEALTH</h2>
                            <h2 alt="homepage" style="width:100%;height: 19px;color:white" class="light-logo">PUBLIC HEALTH
                            </h2>
                        </span>
                    </a>
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
                            class="ti-more"></i></a>
                </div>
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item d-none d-md-block"><a
                                class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)"
                                data-sidebartype="mini-sidebar"><i class="icon-arrow-left-circle"></i></a></li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav">
                        <!-- ============================================================== -->
                        <!-- Language  -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href=""
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                                    class="flag-icon flag-icon-th"></i></a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"> <a
                                    class="dropdown-item" href="#"><i class="flag-icon flag-icon-th"></i> Thailand</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li>
                            <!-- User profile -->
                            <div class="user-profile text-center position-relative pt-4 mt-1">
                                <!-- User profile image -->
                                <div class="profile-img m-auto"> <img src="/assets/images/users/heartbeat.png" alt="user"
                                        class="w-100 rounded-circle" /> </div>
                                <div class="profile-text py-1 text-white setfullname_us"> - </div>
                            </div>
                            <!-- End User profile text-->
                        </li>
                        <!-- User Profile-->
                        <li class="nav-small-cap"><i class="mdi mdi-dots-horizontal"></i> <span
                                class="hide-menu">ส่วนของประชาชน</span></li>
                        <%if(cookies.login_status==1 ){%>
                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                    href="/indexusers" aria-expanded="false"><i data-feather="home"
                                        class="feather-icon"></i><span class="hide-menu">หน้าหลัก</span></a></li>
                            <!-- <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                    href="/history_us/all" aria-expanded="false"><i data-feather="clock"
                                        class="feather-icon"></i><span class="hide-menu">ประวัติการใช้บริการ</span></a>
                            </li> -->


                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="/adl2" aria-expanded="false"><i data-feather="file-text"
                                    class="feather-icon"></i><span class="hide-menu">ประเมิน</span></a>
                        </li>
                            <% } else {%>
                                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                        href="/alertsnormal" aria-expanded="false"><i data-feather="home"
                                            class="feather-icon"></i><span class="hide-menu">หน้าหลัก</span></a></li>
                                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                        href="/adl2" aria-expanded="false"><i data-feather="file-text"
                                            class="feather-icon"></i><span
                                            class="hide-menu">ประเมิน</span></a></li>
                                            


                                <%}%>

                                    <li class="nav-devider"></li>
                                    <li class="nav-small-cap"><i class="mdi mdi-dots-horizontal"></i> <span
                                            class="hide-menu">เพิ่มเติม</span></li>
                                    <li class="sidebar-item"> <a
                                            class="sidebar-link waves-effect waves-dark sidebar-link" href="/logout"
                                            aria-expanded="false"><i data-feather="log-out"
                                                class="feather-icon"></i><span class="hide-menu">ออกจากระบบ</span></a>
                                    </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
            <!-- Bottom points-->
            <!-- <div class="sidebar-footer"> -->
                <!-- item-->
                <!-- <a href="#" class="link" data-bs-toggle="tooltip" data-bs-placement="top" title="Settings"><i
                        class="ti-settings"></i></a> -->
                <!-- item-->
                <!-- <a href="#" class="link" data-bs-toggle="tooltip" data-bs-placement="top" title="Email"><i
                        class="mdi mdi-gmail"></i></a> -->
                <!-- item-->
                <!-- <a href="/logout" class="link" data-bs-toggle="tooltip" data-bs-placement="top" title="Logout"><i
                        class="mdi mdi-power"></i></a>
            </div> -->
            <!-- End Bottom points-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">