<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>PUBLIC HEALTH</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Favicons -->
    <link href="/logo/logo2.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    

    <!-- Google Fonts -->
    <!-- <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet"> -->


        


       

    <!-- Vendor CSS Files -->
    <link href="assets/homepage/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/homepage/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/homepage/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/homepage/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/homepage/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/homepage/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/homepage/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/homepage/css/style.css" rel="stylesheet">

    <style>
        /* Apply background image to the entire body */
       

        /* Additional styles for header */
        #header {
    transition: all 0.5s;
    background: #83baff;
    z-index: 997;
    padding: 15px 0;
    border-bottom: 1px solid #83baff;
}

        #header .logo a {
            color: #071535;
        }

        .navbar a:hover, 
        .navbar .active, 
        .navbar .active:focus, 
        .navbar li:hover > a {
            color: #031c2e;
        }

        /* Optional: Ensure footer inherits body background */
        /* #footer {
            background: rgba(255, 255, 255, 0.8); 
        } */


        ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 0;
}

.dropdown-content li {
    padding: 10px;
}

.dropdown-content li a {
    display: block;
    text-decoration: none;
    padding: 8px 16px;
    color: #333;
}

.dropdown-content li a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

         
    </style>
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <!-- <div class="container d-flex align-items-center justify-content-between"> -->
            <!-- <h1 class="logo"><a href="/">PUBLIC HEALTH</a></h1> -->
            <nav id="navbar" class="navbar">
                <ul>
                     <!-- <li><a class="nav-link scrollto active" href="https://maechanhospital.go.th/"> โรงพยาบาลแม่จัน</a></li> -->
                     <!-- <li><a class="nav-link scrollto active" href="https://www.moph.go.th/">กระทวงสาธารณสุข</a></li> -->
                    <!-- <li><a class="nav-link scrollto active" href="#hero">หน้าหลัก</a></li> -->
                 
                    <li class="dropdown">
                        <a class="nav-link scrollto active" href="#">MENU</a>
                        <ul class="dropdown-content">
                            <li><a href="https://www.moph.go.th/">กระทรวงสาธารณสุข</a></li>
                            <li><a href="https://maechanhospital.go.th/">โรงพยาบาลแม่จัน</a></li>
                            <li><a href="http://gishealth.moph.go.th/pcu/admin/pcu.php?code=00619">ข้อมูลสำนักงานสาธารณสุขแม่จัน</a></li>
                            <li><a href="https://www.google.com/maps/place/Mae+Chan+District+Public+Health+Office/@20.1468696,99.8514882,17z/data=!3m1!4b1!4m6!3m5!1s0x30d6ff27ddecb463:0xc96edaaaf477f2f6!8m2!3d20.1468696!4d99.8540631!16s%2Fg%2F1pzqrsmg0?authuser=0&entry=ttu&g_ep=EgoyMDI0MDkxMS4wIKXMDSoASAFQAw%3D%3D">ที่ตั้งสำนักงานสาธารณสุขแม่จัน</a></li>
                            <li><a href="https://www.facebook.com/so.pcumaechan/?locale=th_TH">ศูนย์สุขภาพชุมชนเมือง แม่จัน </a></li>
                        </ul>
                        
                    </li>
                 
                   
                 
                    <!-- <li><a class="nav-link scrollto" href="#about">เกี่ยวกับ</a></li>
                    <li><a class="nav-link scrollto" href="#services">บริการ</a></li>
                    <li><a class="nav-link scrollto" href="#contact">ติดต่อ</a></li>
                    <li><a class="getstarted scrollto" href="#about">Get Started</a></li> -->
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->

    