<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, monster admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, ">
    <meta name="description"
        content="Monster is powerful and clean admin dashboard template, inpired from Google's Material Design">
    <meta name="robots" content="noindex,nofollow">
    <title>NOTIFY</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/monsteradmin/" />
    <!-- Favicon icon -->
    <link rel="icon" type="/image/png" sizes="16x16" href="/logo/logo2.png">
    <!-- Custom CSS -->
    <link href="/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="/assets/extra-libs/c3/c3.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/libs/apexcharts/dist/apexcharts.css">
    <link href="/assets/extra-libs/css-chart/css-chart.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/dist/css/style.min.css" rel="stylesheet">
    <link href="/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
</head>
<body>
    <div id="main-wrapper">
        <div class="page-wrapper">

            <link rel="stylesheet" href="/dist/css/user_menu.css">
            <div class="container-fluid box-form mt-4">

                <div class="views-form" hidden>
                    <div class="v-fields">

                    </div>
                </div>

                <div class="questions-form mt-4 " hidden>
                    <form id="action-q-form" action="/alerts_qrcode/save" enctype="multipart/form-data" method="post">
                        <div class="q-fields">

                        </div><br>
                        <button type="submit" class="btn btn-success align-center">บันทึกข้อมูล</button>
                    </form>
                </div>
                <input type="hidden" value="<%=id%>" id="idforms">

            </div>
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script src="../script/get.js"></script>
            <script>
                const id = $('#idforms').val()
                $.ajax({
                    url: '/alerts_qrcode/create',
                    type: 'POST',
                    data: { id },
                    success: (data) => {

                        if (data.f[0].forms_type == 1) {
                            const forms_hidden = document.querySelector('.questions-form');
                            const forms = document.querySelector('.q-fields');
                            forms_hidden.hidden = false;
                            const form_act = document.getElementById('action-q-form')

                            for (var i = 0; i < data.ff.length; i++) {
                                if (data.ff[i].field_type == "Headerfield_q") {
                                    forms.innerHTML += `${data.ff[i].tt_name ? `<h4 class="card-title mb-0 mt-2">${data.ff[i].tt_name}</h4>` : ``}`
                                }
                                if (data.ff[i].field_type == "Shorttextfield_q") {
                                    forms.innerHTML += `<div class="mb-3 mt-2"><label>${data.ff[i].label_inputname ? `${data.ff[i].label_inputname}` : ``}</label > <input type="text" id="${data.ff[i].idfield}" name="${data.ff[i].idfield}" class="form-control" placeholder="${data.ff[i].placeholder_field}" ${data.ff[i].validate == 1 ? `required` : ``}></div>`
                                }

                                if (data.ff[i].field_type == "Longtextfield_q") {
                                    forms.innerHTML += `<div class="mb-3 mt-2"><label>${data.ff[i].label_longtext ? `${data.ff[i].label_longtext}` : ``}</label > <input type="text" id="${data.ff[i].idfield}" name="${data.ff[i].idfield}" class="form-control" placeholder="${data.ff[i].placeholder_longtext}" ${data.ff[i].validate == 1 ? `required` : ``}></div>`
                                }

                                if (data.ff[i].field_type == "Linkfield_q") {
                                    forms.innerHTML += `<div class="mb-3 mt-2"><a href="${data.ff[i].link_q}" target="_blank">${data.ff[i].linktext_q ? `${data.ff[i].linktext_q}` : `${data.ff[i].link_q}`}</a></div>`
                                }

                                if (data.ff[i].field_type == "Dropdownfield_q") {
                                    let set_choice_dropdown = "";
                                    const choice_dropdown_text = data.ff[i].choice_dropdown;
                                    if (data.ff[i].choice_dropdown) {
                                        const sort_choice_dd = choice_dropdown_text.split(',');
                                        set_choice_dropdown += '<option>เลือก...</option>'
                                        for (var j = 0; j < sort_choice_dd.length; j++) {
                                            set_choice_dropdown += '<option>' + sort_choice_dd[j] + '</option>'
                                        }
                                    }
                                    forms.innerHTML += `<div class="mb-3 mt-2">${data.ff[i].label_dropdown ? `<label>${data.ff[i].label_dropdown}</label>` : ``} 
                                    ${data.ff[i].choice_dropdown ? `<select class="form-control" name="${data.ff[i].idfield}">${set_choice_dropdown}</select>` : `<option>เลือก...</option>`} </div>`
                                }
                                if (data.ff[i].field_type == "Radiofield_q") {
                                    let set_choice_radio = "";
                                    const choice_radio_text = data.ff[i].choice_radio;
                                    if (data.ff[i].choice_radio) {
                                        const sort_choice_rd = choice_radio_text.split(',');
                                        console.log("radio", sort_choice_rd);
                                        for (var k = 0; k < sort_choice_rd.length; k++) {
                                            set_choice_radio += '<div class="form-check"><input class="form-check-input" name="' + data.ff[i].idfield + '" type="radio" value="' + sort_choice_rd[k] + '" id="flexCheckDefault"><label class="form-check-label" for="flexCheckDefault">' + sort_choice_rd[k] + '</label></div>'
                                        }
                                    }
                                    forms.innerHTML += `<div class="mb-3 mt-2">${data.ff[i].label_radio ? `<label>${data.ff[i].label_radio}</label>` : ``} 
                                    ${data.ff[i].choice_radio ? `<div class="card-body">${set_choice_radio}</div>` : `<p class="card-title mb-0">ไม่มีข้อมูล</p>`} </div>`
                                }

                                if (data.ff[i].field_type == "Checkboxfield_q") {
                                    let set_choice_checkbox = "";
                                    const choice_checkbox_text = data.ff[i].choice_checkbox;
                                    if (data.ff[i].choice_checkbox) {
                                        const sort_choice_cb = choice_checkbox_text.split(',');
                                        for (var k = 0; k < sort_choice_cb.length; k++) {
                                            set_choice_checkbox += '<div class="form-check"><input class="form-check-input" name="' + data.ff[i].idfield + '" type="checkbox" value="' + sort_choice_cb[k] + '" id="flexCheckDefault"><label class="form-check-label" for="flexCheckDefault">' + sort_choice_cb[k] + '</label></div>'
                                        }
                                    }
                                    forms.innerHTML += `<div class="mb-3 mt-2">${data.ff[i].label_checkbox ? `<label>${data.ff[i].label_checkbox}</label>` : ``} 
                                    ${data.ff[i].choice_checkbox ? `<div class="card-body">${set_choice_checkbox}</div>` : `<p class="card-title mb-0">ไม่มีข้อมูล</p>`}</div>`
                                }

                                if (data.ff[i].field_type == "Imagefield_q") {
                                    forms.innerHTML += `<div class="mb-3 mt-2">${data.ff[i].label_inputimage ? `<label>${data.ff[i].label_inputimage}</label>` : ``} 
                                <input type="file" name="${data.ff[i].idfield}" class="form-control" onchange="document.getElementById('previewImg${data.ff[i].idfield}').src = window.URL.createObjectURL(this.files[0])"><br><img id="previewImg${data.ff[i].idfield}" width="150px"/><br></div>`
                                }
                                if (data.ff[i].field_type == "Imagefield_show") {
                                    forms.innerHTML += `<div class="mb-3 mt-2">${data.ff[i].image_file ? `<img src="/image_fields/${data.ff[i].image_file}" width="85%" height="85%"/></div>` : ''}`
                                }
                                if (data.ff[i].field_type == "Vdofield_show") {
                                    let getyoutube_link = data.ff[i].youtube_link
                                    let newURL = getyoutube_link.replace("watch?v=", "embed/");
                                    forms.innerHTML += '<div class="mb-3 mt-2"><iframe  src="' + newURL + '" frameborder="0"></iframe></div>'
                                }
                                if (data.ff[i].field_type == "Datetimefield_q") {
                                    forms.innerHTML += `<div class="mb-3 mt-2">${data.ff[i].label_datetime ? `<label>${data.ff[i].label_datetime}</label>` : ``} 
                                <input type="date" name="${data.ff[i].idfield}" class="form-control"></div>`
                                }

                                if (data.ff[i].field_type == "Gpsfield_q") {
                                    forms.innerHTML += `<a class="btn btn-warning" onclick="get.getLocation('${data.ff[i].idfield}')"><i class="fas fa-map-marker-alt"></i> คลิกเพื่อระบุตำแหน่งที่อยู่</a>
                                                <br>
                                                <input type="hidden" id="${data.ff[i].idfield}" value="" name="${data.ff[i].idfield}" >
                                                <div id="gmap_canvas${data.ff[i].idfield}"></div>`
                                }
                            }
                        } else {
                            const forms_hidden = document.querySelector('.views-form');
                            const forms = document.querySelector('.v-fields');
                            forms_hidden.hidden = false;

                            for (var i = 0; i < data.ff.length; i++) {
                                console.log(data.ff[i]);
                                if (data.ff[i].field_type == "Headerfield_show") {
                                    forms.innerHTML += `<div>${data.ff[i].tt_name ? `<h4>${data.ff[i].tt_name}</h4>` : ''}</div>`
                                }
                                if (data.ff[i].field_type == "Linkfield_show") {
                                    forms.innerHTML += `<div>${data.ff[i].link && data.ff[i].name_link ? `<a href="${data.ff[i].link}" target="_blank">${data.ff[i].name_link}</a>` : ''}</div>`
                                }
                                if (data.ff[i].field_type == "Vdofield_show") {
                                    let getyoutube_link = data.ff[i].youtube_link
                                    let newURL = getyoutube_link.replace("watch?v=", "embed/");
                                    forms.innerHTML += '<iframe  src="' + newURL + '" frameborder="0"></iframe>'
                                }
                                if (data.ff[i].field_type == "Imagefield_show") {
                                    forms.innerHTML += `${data.ff[i].image_file ? `<img src="/image_fields/${data.ff[i].image_file}" width="85%" height="85%"/>` : ''}`
                                }
                                if (data.ff[i].field_type == "Imageandlinkfield_show") {
                                    forms.innerHTML += `<div>${data.ff[i].link && data.ff[i].name_link ? `<a href="${data.ff[i].link}" target="_blank">${data.ff[i].name_link}</a>` : ''}</div>
                            ${data.ff[i].image_file ? `<img src="/image_fields/${data.ff[i].image_file}" width="85%" height="85%"/>` : ''}`
                                }
                            }
                        }
                    }
                });
            </script>

            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- customizer Panel -->

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- apps -->
    <script src="/dist/js/app.min.js"></script>
    <!-- full sidebar -->
    <script src="/dist/js/app-style-switcher.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!--Wave Effects -->
    <script src="/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/dist/js/feather.min.js"></script>
    <script src="/dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <!--c3 charts -->
    <script src="/assets/libs/d3/dist/d3.min.js"></script>
    <script src="/assets/libs/c3/c3.min.js"></script>
    <!--chartjs -->
    <script src="/assets/libs/chart.js/dist/Chart.min.js"></script>
    <script src="/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="/dist/js/pages/dashboards/dashboard1.js"></script>

    <script src="/assets/libs/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/dist/js/pages/datatable/custom-datatable.js"></script>
    <script src="/dist/js/pages/datatable/datatable-basic.init.js"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/dist/js/pages/dashboards/dashboard5.js"></script>


</body>

</html>