<%- include ("../_headerpersonnelAlerts" ) %>



    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <!-- END HEADER DESKTOP-->
        <% JSON.stringify(alertstype) %>
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3">
                            <!-- DATA TABLE-->
                            <h4 class="head" style="color: rgb(243, 172, 66);"><i class="fas fa-check-circle" style="color: rgb(216, 216, 68);"></i>ข้อมูลแจ้งเหตุที่หน่วยงานรับผิดชอบ</h4>
                            <div class="table-responsive m-b-30">
                                <table class="table table-borderless table-striped table-earning" id="tablepersonnelalerts_type">
                                    <thead>
                                        <tr>
                                            <th>ลำดับ</th>
                                            <th>การแจ้งเหตุ</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <% if(alertstype) {%>
                                            <% for(var i=0; i<alertstype.length;i++ ){ %>   
                                        <tr>
                                            <td><%=i+1%></td>
                                            <td>ประเภทการแจ้งเหตุ: <%=alertstype[i].name_alty%><% if(alertstype[i].claim == 0){%>
                                                <p style="color: rgb(33, 100, 189);"> <i class="fa fa-users" aria-hidden="true"></i> ทุกคนสมารถแจ้งเหตุได้</p> 
                                                 <%} else {%>
                                                  <p style="color: aqua;"> <i class="fa fa-user" aria-hidden="true"></i> ประชาชนในหู่บ้านเท่านั้นที่สามารถแจ้งเหตุได้</p> 
                                                 <%}%>
                                                 <br> <% if (alertstype[i].enable_alty == 0) {%>
                                                 <p style="color: darkgreen;"> <i class="fa fa-check-circle" aria-hidden="true"></i> เปิดให้แจ้งเหตุ</p>
                                                 <%} else { %>
                                                 <p style="color: rgb(241, 30, 30);"><i class="fa fa-ban" aria-hidden="true"></i> ปิดไม่ให้แจ้งเหตุ</p>
                                                 <%}%></td>
                                        </tr>
                                        <%}%>
                                     <%}%>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END DATA TABLE-->
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>
    <!-- Row end -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
        $('#tablepersonnelalerts_type').DataTable();
      } );
      </script>
    <%- include("../_footerpersonnelAlerts") %>
