<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Notify</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../logo/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&display=swap" rel="stylesheet">
    <link href="../vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="../assets/themify-icons.css">
    <link rel="stylesheet" href="../notify.css">
</head>

<body>
    <% JSON.stringify(cookies.idusers) %>
    <div class="container-contact100">
		<div class="wrap-contact100">
            <form class="div_al_pu" action="/personnelAlerts/save<%=alerts.idalerts %>" enctype="multipart/form-data" method="POST">
                <span class="contact100-form-title">
                    <b>เพิ่มรูปภาพ</b>
                    </span>
                <div class="form-group" align="center">
                    <br>
                    <img id="blah" width="400px" height="240px" />
                    <br>
                    <label class="mt-3 label danger" for="img_xx"><i
                        style="cursor: pointer;"
                        >คลิกเพื่อเลือกรูปภาพ</i></label>
                    <input type="file" name="filename" accept="image/*" multiple id="img_xx" class="btn btn-info" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
                </div>

                <div class="container-contact100-form-btn">

                        <button type="submit" class="contact100-form-btn">ยืนยัน</button>
                    </div>

            </form>
            </div>
            </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="../script/get.js"></script>

</body>
</html>
